@import url('https://fonts.googleapis.com/css?family=Raleway');
@import '../../utils/variables';

body {
    color: $font-color-grey200;
    margin: 0;
}

html, body,  .festiplay-desktop, .festiplay-mobile,  {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    font-size: 14px;
    font-family: $main-font-family;
}

.container, #root {     
    height: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: $header-height;
    margin-bottom: $footer-height;
    overflow-y: scroll; 
    position: absolute;
    top: 0;
    width: 100%;
    height: -webkit-calc(100% - (#{$header-height} + #{$footer-height}));
    height:    -moz-calc(100% - (#{$header-height} + #{$footer-height}));
    height:         calc(100% - (#{$header-height} + #{$footer-height}));
    .step {
        margin: auto;
        margin-bottom: 30px;
        height: 70%;
        background: rgba(48, 48, 48, 0.75);
        margin-top: 20px;
        padding: 10px;
        height: fit-content;
        width: 100%;
        max-width: calc(100% - 20px);
        .main-label {
            text-align: center;
            font-family: "Century Gothic", monospace;
            width: fit-content;
            margin: 10px auto;
        }
    }

    .login-step {
        min-width: 240px;
    }

    .player-step {
        margin-bottom: 0px;
        height: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }  
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .main-content .step {
        width: 85%;
        &.login-step {
         width: initial;   
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
}